@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scrollbar-width: none;
}

:root {
  --brandBlue: linear-gradient(135deg, rgb(39, 56, 84) 0px, rgb(51, 74, 111) 50%, rgb(39, 56, 84) 100%);
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: white;
	overflow-x: hidden;
}

.freeze-flow {
	overflow: hidden;
}
